.day {
    width: 14%;
    background-color:#f7e9fb;
    border-radius: 0.8em;
    margin: 0.2em;
    padding: 0.8em 0.5em;
}

.future {
    background-color:rgb(227, 227, 227);
}

.today {
    background-color:rgb(119, 91, 145);
    color: white;
}

.dayTitle {
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

.date {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}